.vim_runtime/undodir/
.ICEauthority
.Xauthority
.adobe/
.azureus/
.bash_history
.bash_logout
.byobu/
.cache/
.compiz-1/
.config/
.dbus/
.dmrc
.esd_auth
.fontconfig/
.gconf/
.gitconfig
.gnome2/
.goutputstream-OAXRBW
.gstreamer-0.10/
.gtk-bookmarks
.hplip/
.icedtea/
.ipython/
.kchmviewer/
.kde/
.lesshst
.libreoffice/
.local/
.macromedia/
.matplotlib/
.mission-control/
.mozilla/
.nevernote/
.profile
.pulse-cookie
.pulse/
.screenrc
.shotwell/
.ssh/
.subversion/
.sudo_as_admin_successful
.thumbnails/
.thunderbird/
.vim/
.vim_mru_files
.viminfo
.xinput.d/
.xsession-errors
Desktop/
Documents/
Downloads/
con_dorm.sh
examples.desktop
kuaipan
nohup.out
programs/
rdp-tlp.sh
work/
workspace/
yankring_history_v2.txt
